.container{
	overflow: auto;
	width:60%;
	margin: 0 auto;
	zoom:1;
	background-color:#1181d4c2;
}
.header{
	font-size: 30px;
	font-weight: bold;
	line-height: 3em;
	color:white;
	text-align:center;
	width:20%;
	float:left;
	box-sizing:border-box;
}
.infor{
	width:80%;
	float:left;
	background-color: white;
	padding-left: 30px;
	box-sizing:border-box;
}
.infor_h{
 	font-size: 20px;
	font-weight: bold;
}
.des{
	font-weight: bold;
}
.block_c{
	display:block;
}